@charset "UTF-8";

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    justify-items: center;
    width: 100%;
}

.column {
    flex: 1;
}

.column-inner {
    width: max-content;
}

#timer-column-inner {
    display: flex;
    flex-direction: column;
}

#timer {
    padding: 1em;
    min-width: 9ch;
    width: 100%;
    text-align: right;
    font-size: 400%;
}

#timer-ms {
    font-size: 75%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}